################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.Cache
*.StyleCop
/BusinessLogic/.vs/BusinessLogic/v16
/BusinessLogic/.vs/BusinessLogic/config
/BusinessLogic/BusinessLogic/obj
/BusinessLogic/DemoSberTestDb/bin/Debug/netcoreapp3.1
/BusinessLogic/DemoSberTestDb/obj
/BusinessLogic/SberTestApi/bin/Debug/netcoreapp3.1
/BusinessLogic/SberTestApi/obj
/.vs
/BusinessLogic/BusinessLogic/bin/Debug/netcoreapp3.1
